{{define "title"}}
	中国采购与招标网
{{end}}

{{ define "content" }}	

	<ul class="nav nav-tabs">
	  <li title="" rel="" class="active">
	    <a href="/customers">
	        <i class="fa fa-list"></i>
	        	<span>全部数据</span>
		</a>  
	  </li>  
		<form accept-charset="UTF-8" action="/bulk_action" id="bulk_form" method="post">
			<div style="display:none">
				<input name="utf8" type="hidden" value="✓">
				<input name="authenticity_token" type="hidden" value="K13do5Htx/yhSnv7wyweWmVTsh5vxIQm9vLTF0aKLdI="></div>
		    	<input id="bulk_action" name="bulk_action" type="hidden">
	    	<div id="bulk_hide_div" style="display: none;"></div>
		</form>
		<li class="dropdown" style="float:right">
	  		<a class="dropdown-toggle" data-toggle="dropdown" href="#">导出<b class="caret"></b></a>
	  		<ul class="dropdown-menu" style="left:auto; right:0;">
		    	<li>
		      		<a id="bulk_export_select_selected" href="#">选中导出CSV</a>
		    	</li>
		    	<li>
		      		<a id="bulk_export_excluding_selected" href="#">排除选中导出CSV</a>
		    	</li>
	  		</ul>
		</li>
	</ul>



	<br>
	{{template "paginate" .}}
	<div class="table-responsive">				
        <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                  	<input id="ck_box_toggle_all" name="ck_box_toggle_all" type="checkbox" value="1">
                  </th>
                  <th>标题</th>
                  <th>类别</th>
                  <th>地区</th>
                  <th>行业</th>
                  <th>日期</th>
                  <th>招标代理</th>                 
                </tr>
              </thead>
              <tbody>
					{{range .page.Items}}
						<tr>
							<td><input class="bulk_edit_ck_box" id="model_ids_" name="model_ids[]" type="checkbox" value="{{.ID.Hex}}"></td>
					        <td> <a href="{{.UrlDetail}}" target="_blank">{{.Title}}</a></td>
					        <td> {{.Category}}</td>
					        <td> {{.Region}}</td>
					        <td> {{.Industry}}</td>
					        <td> {{.Date}}</td>
					        <td> {{.AgentName}}</td>					        
				        </tr>
			    	{{end}}
                </tbody>
        </table>        
	</div>
	{{template "paginate" .}}
{{ end }}


{{define "paginate"}}
	{{paginate .page}}
{{end}}